/.idea
/.phpunit.result.cache
/bin/phing
/bin/phpunit
/build/
/composer.lock
/custom.task.properties
/custom.type.properties
/doc/
/test/MySql/etc/routines.json
/test/MySql/etc/stratum.cfg
/test/coverage.xml
/test/report/
/vendor/